#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define L_ALFA 0
#define L_NAV 1
#define L_SYM 2 
#define L_NUMR 3
#define L_NUMP 4
#define L_BTCT 5
#define L_NULL 8

/ {
    keymap {
        compatible = "zmk,keymap";

        alfa {
            bindings = <
&kp LEFT_GUI  &kp Q             &kp W  &kp F      &kp P      &kp B        &kp J        &kp K            &kp L      &kp Y    &kp SINGLE_QUOTE       &kp BSPC
&kp ESC       &kp A             &kp R  &kp S      &kp T      &kp G        &kp M        &kp N            &kp E      &kp I    &kp O                  &kp MINUS
&kp LSHFT     &mt LEFT_SHIFT Z  &kp X  &kp C      &kp D      &kp V        &kp U        &kp H            &kp COMMA  &kp DOT  &mt RIGHT_SHIFT SLASH  &kp ENTER
                                       &kp LCTRL  &lt L_SYM TAB  &lt L_NAV SPACE  &lt L_NUMP ENTER  &lt L_NUMR BSPC  &kp RCTRL
            >;
        };

        nav {
            bindings = <
&none  &kp HOME  &kp END   &kp PG_DN  &kp PG_UP  &none   &none      &kp LBRC  &kp RBRC  &kp LPAR   &kp RPAR  &none
&none  &none     &kp LEFT  &kp UP     &kp RIGHT  &none   &kp LEFT   &kp DOWN  &kp UP    &kp RIGHT  &none     &none
&none  &none     &none     &kp DOWN   &none      &none   &kp LBKT   &kp RBKT  &kp LT    &kp GT     &none     &none
                           &none      &none      &trans  &kp ENTER  &kp BSPC  &none
            >;
        };

        sym {
            bindings = <
&kp TILDE  &kp EXCL  &kp AT  &kp HASH   &kp DOLLAR  &kp PERCENT  &kp CARET  &kp AMPS  &kp ASTRK  &kp LPAR  &kp RPAR  &kp  BSPC
&none  &none  &none  &none  &none   &none  &none  &kp UNDER  &kp PLUS  &kp LBRC  &kp RBRC  &kp PIPE
&none  &none  &none  &none  &none   &none  &kp LBKT  &kp RBKT  &kp LT    &kp GT     &kp QMARK     &none
                     &none  &trans  &none  &none  &none  &none
            >;
        };

        numrow {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3     &kp N4   &kp N5   &kp N6      &kp N7     &kp N8      &kp N9    &kp N0    &kp BSPC
&kp ESC    &kp F1  &kp F2  &kp F3     &kp F4   &kp F5   &kp F6      &kp MINUS  &kp EQUAL   &kp LBKT  &kp RBKT  &kp BACKSLASH
&kp LSHFT  &kp F7  &kp F8  &kp F9     &kp F10  &kp F11  &kp F12     &none      &none       &none     &none     &none
                           &none      &none    &none    &none       &trans     &mo L_BTCT
            >;
        };

        numpad {
            bindings = <
&kp KP_N0  &kp KP_N9  &kp KP_N8  &kp KP_N7  &none      &none  &kp KP_PLUS   &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_N0        &kp BSPC
&none      &kp KP_N6  &kp KP_N5  &kp KP_N4  &none      &none  &kp KP_MINUS  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MULTIPLY  &kp KP_EQUAL
&none      &kp KP_N3  &kp KP_N2  &kp KP_N1  &kp KP_N0  &none  &kp KP_N0     &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_DIVIDE    &kp ENTER
                              &none         &none      &none  &trans        &none      &none
            >;
        };

        bt {
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none  &none  &none  &none  &bt BT_PRV  &bt BT_NXT
&sys_reset  &none         &none         &none         &none         &none         &none  &none  &none  &none  &none       &none
&none       &none         &none         &none         &none         &none         &none  &none  &none  &none  &none       &none
                                        &none         &none         &none         &none  &none  &none
            >;
        };

        null {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
                     &none  &none  &none  &none  &none  &none
            >;
        };

    };
};
